
@{
    ViewData["Title"] = "Default";
}

<h1>Announcements</h1>

<ul>
    <li>var bir şeyler</li>
    <li>var bir şeyler</li>
    <li>var bir şeyler</li>
    <li>var bir şeyler</li>
    <li>var bir şeyler</li>
</ul>