
@{
    ViewData["Title"] = "SetSession";
}

<h1>SetSession</h1>

<div class="row">
    <div class="col-4">
        <form method="post">
            <div class="form-group">
                <label for="fullname"></label>
                <input id="fullname" class="form-control"/>
            </div>
            <button type="submit" class="btn btn-primary">Gönder</button>
        </form>
    </div>
</div>